/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --light: #fefefe;
    --light-2: #ddfefe;
    --dark: #222222;
    --dark-2: #aa3333;
    --primary-color: var(--dark);
    --secondary-color: #DF9B6D;
    --accent1-color: #065A82;
    --accent2-color: #51A3A3;
    --text-primary: var(--light);
    --text-secondary: var(--light);
    --text-accent1: var(--light);
    --text-accent2: var(--light);
    --background-color: var(--light);
    --header-background-color: var(--accent1-color);
    /* change the values below to your chosen font(s) */
    --heading-font: 'Work Sans', sans-serif;
    --paragraph-font: 'Work Sans', sans-serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--dark);
    /* headlines on a white background */
    --headline-color-on-color: var(--light);
    /* headlines on a colored background */
    --paragraph-color-on-white: var(--dark);
    /* paragraph text on a white background */
    --paragraph-color-on-color: var(--light);
    /* paragraph text on a colored background */
    --text-background-color: var(--primary-color);
    --nav-link-color: var(--text-accent1);
    --nav-background-color: var(--accent1-color);
    --nav-hover-link-color: var(--text-secondary);
    --nav-hover-background-color: var(--dark-2);
    --nav-width: 75%;
    --nav-height: 5em;
    --nav-text-height: var(--nav-height) * 1.25;
    --footer-color: var(--primary-color);
    --footer-text-color: var(--text-primary);
    --body-width: 900px;
    --paragraph-text-size: 18px;
    --paragraph-text-size-mobile: 24px;
    --footer-height: 75px;
    --mobile-width: 743px;
}

@media (prefers-color-scheme: dark) {
    --background-color: var(--dark);
}


/** page-wide **/

html {
    background-color: var(--light);
}


/** body **/

body {
    margin: 0;
    background-color: var(--light);
}

.body-width {
    margin: 0 auto;
    max-width: var(--body-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}


/** main **/

main {
    margin: 0 auto;
    padding: 1em;
}

main>div>* {
    padding: 1em;
}

main>div>img {
    padding: 1em;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    font-size: var(--paragraph-text-size);
}

@media screen and (max-width: 743px) {
    p {
        font-size: var(--paragraph-text-size-mobile);
        background-color: none;
    }
    main>div>img {
        padding: 0;
        width: 100%;
    }
}

a {
    text-decoration: none;
}


/** header **/

header {
    padding: 2em;
    width: 100% - 2em;
    color: var(--paragraph-color-on-color);
    background-color: var(--header-background-color);
}

header>.logo-box,
header>div>h1 {
    display: inline;
    text-align: left;
    align: left;
}

header>div>h1,
header>div>h2,
header>h1,
header>h2 {
    margin-top: 0;
    color: var(--headline-color-on-color);
    padding: 10px;
    font-size: 50px;
}

@media screen and (max-width: 743px) {
    header>div>h1,
    header>div>h2 {
        position: relative;
        margin: 0 auto;
    }
    header>.logo-box,
    header>div>h1 {
        display: block;
        text-align: center;
        align: center;
        margin: 0 auto;
    }
    .logo-box {
        display: none;
    }
}

.logo-box>a>img {
    height: 7em;
}

iframe {
    max-width: var(--body-width);
    width: 100%;
    height: 700px;
    border: none;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 4px #000000;
}

header>div>h1>a {
    color: var(--headline-color-on-color);
}

nav {
    margin: 0 auto;
    background-color: var(--accent2-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav>ul>img {
    height: 50px;
}

nav a {
    padding: 1em;
    text-decoration: none;
}

nav li {
    min-width: 135px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

@media screen and (max-width: 743px) {
    nav {
        background-color: transparent;
    }
    nav ul {
        flex-direction: column;
    }
    nav a {
        width: 70%;
        padding: 10px;
        background-color: var(--accent2-color);
    }
}


/** banner **/

.banner>img {
    width: 100%;
    filter: brightness(0.5);
}

div.banner {
    width: 100%;
    height: 350px;
    background-color: var(--dark);
    background-size: cover;
}

.banner>h1,
.banner>h2,
.banner>h3,
.banner>h4,
.banner>h5 {
    color: var(--headline-color-on-color);
    margin: auto;
    text-align: center;
    padding-top: 5%;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, .6);
}

.banner>h1 {
    font-size: 80px;
    background-color: none;
}

@media screen and (max-width: 743px) {
    .banner>h1 {
        background-color: none;
        font-size: 50px;
    }
}


/** footer **/

div.footer {
    height: var(--footer-height);
    width: 100%;
    background-color: var(--footer-color);
}

div.footer>div {
    background-color: var(--footer-color);
    max-width: (--body-width);
    margin: 0 auto;
}

.footer>div>table,
.footer>div>p {
    margin: 0 auto;
    text-align: center;
}

td img {
    display: block;
    margin: 0 auto;
}

.social {
    display: block;
    margin: 0 auto;
    background-color: cyan;
}


/** align **/

.align.left {
    flex-direction: row;
    text-align: right;
    /* background-color: magenta; */
}

.align.right {
    flex-direction: row-reverse;
    text-align: left;
    /* background-color: cyan; */
}

.align.center {
    /* background-color: yellow; */
}

.align {
    display: flex;
    /* background-color: blue; */
}

@media screen and (max-width: 743px) {
    /* mobile only */
    .align.left,
    .align.right {
        display: block;
        text-align: center;
    }
}


/** other **/

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
    font-family: var(--paragraph-font);
}

.colors th {
    background-color: var(--accent2-color);
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    color: var(--text-primary);
    background-color: var(--primary-color);
}

.secondary {
    color: var(--text-secondary);
    background-color: var(--secondary-color);
}

.accent1 {
    color: var(--text-accent1);
    background-color: var(--accent1-color);
}

.accent2 {
    color: var(--text-accent2);
    background-color: var(--accent2-color);
}

p.colored {
    background-color: var(--text-background-color);
    color: var(--paragraph-color-on-color);
}


/** sitemap (site-plan.html) **/

.sitemap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ." ". . . top . ." ". left left right right ." "page2 page2 . . page3 page3";
}

.sitemap>div {
    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: #999;
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: #999;
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: #999;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}